body {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to left, darkblue, yellow);
    margin: 0;
    padding: 0;
}

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
    text-align: center;
}
figure{
    color: white;
    
}
.menu ul li {
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    position: relative;


}

.menu ul li a {
    text-decoration: none;
    color: #FFD700; 
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display:inline-block;
    justify-content: center;
    align-items: center;
}

.menu ul li a:hover {
    background-color: #FFD700;
    color: #009900; 
}


.menu ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transition: width 0.1s;
}

.menu ul li a:hover::before {
    width: 100%;
}

main {
    padding: 20px;
}

section {
    background: linear-gradient(to left, darkblue, green   );
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

footer {
    text-align: center;
    background: linear-gradient(to left, darkblue, green);
    padding: 10px 0;
}

#back-to-top {
    text-decoration: none;
    color: yellow;
    border: 2px solid yellow; 
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#back-to-top:hover {
    background-color: yellow;
    color: green;
}
a {
    color: yellow;
    text-decoration: none;    
}
h1{
    color: green;
    text-decoration: none;
}
p{
    color: white;
    text-decoration: none;
}
li{
    color: white;
    text-decoration: none;
}
h2{
    color: white;
    text-decoration: none;
}
